[2019-12-03 15:51] jpmckinney opened #1 "Frontend features wishlist"
Once there is more demand for any of these, they can be broken out into separate issues.

Ideas shared by Datlab not already broken out into other issues:

* Highlight major issues (+GH)
* Data processing management (e.g prioritization)

UI improvements:

* ~~Display the field(s) referenced by the metadata in the sample's JSON~~ #18
* Tree view for field-level checks

Some more ideas in the bottom

[2019-12-03 15:52] jpmckinney opened #2 "Add a mechanism to annotate the severity of checks"
From [this document](https://docs.google.com/document/d/1wN4ncXLPKk5UlT-th2Z0KW0ngkVqk4rRQJ7Rlu1ktBo/edit):

In terms of setting the severity of checks, from [this document](https://docs.google.com/document/d/17BY8RLrX0rTp7K0zypthw3Zz7XxaBlxoaBHiPlFZHGU/edit):

[2019-12-03 15:57] jpmckinney opened #3 "Questions for helpdesk analysts to answer"
During the first phase of development, I took note of questions to ask helpdesk analysts: https://docs.google.com/document/d/1hoeC2VPeU9Yz_j_1QyUlPUu3PBu-I02bUJ8Sz1bfSxs/edit

Proactive feedback from helpdesk analysts remains the priority.

[2019-12-03 17:57] jpmckinney opened #4 "Check detail: Repeat check category"
From [July feedback](https://docs.google.com/document/d/17BY8RLrX0rTp7K0zypthw3Zz7XxaBlxoaBHiPlFZHGU/edit):

[2019-12-03 18:02] jpmckinney opened #5 "Copy the sample JSON data to the clipboard"

[2019-12-03 18:02] jpmckinney opened #6 "Share/export the results"
Downloading data:

Copying data:

Copying visualizations:

[2019-12-03 18:07] jpmckinney opened #7 "New check ideas"

[2019-12-03 18:12] jpmckinney opened #8 "Disaggregate codelist distributions by field"
type | Planning | Tender | Award | Contract | Implementation
-- | -- | -- | -- | -- | --
tenderNotice | # | # | # | # | #
contractNotice | # | # | # | # | #

type | Planning | Tender | Award | Contract | Implementation
-- | -- | -- | -- | -- | --
approval | 10,278 |   |   |   |  
delivery |   |   |   |   | 2,546
financing |   |   |   |   | 10,278

[2019-12-03 18:18] jpmckinney opened #9 "Coverage support for additional fields not defined in the release schema"

[2019-12-03 18:22] jpmckinney opened #10 "Quality support for additional fields not defined in the release schema"
Assuming Kingfisher can provide a release schema with all extensions applied, it should be possible to check the quality of extension fields (once issue 22 in Datlab's tracker is closed, related to automatically assigning checks to fields based on an input schema).

Related to this question from [this document](https://docs.google.com/document/d/1wN4ncXLPKk5UlT-th2Z0KW0ngkVqk4rRQJ7Rlu1ktBo/edit):

[2019-12-03 18:57] jpmckinney opened #11 "Compare two collections of the same dataset"
For OCP's organizational targets, we track the number of publishers that have improved their publications. To do this, we'd need to be able to either directly compare check results and/or aggregate check results into higher-level figures, to be able to determine, e.g. "publisher X improved" and "the improvement is accounted for by improvements on these specific checks, though the quality deteriora

[2019-12-03 19:50] jpmckinney opened #12 "Overview: Add link to publicationPolicy"
This is another package-level field, like license.

Mentioned by Duncan, Charlie, Yohanna in earlier feedback.

[2019-12-03 20:04] jpmckinney commented on #9
The earlier feedback also suggested having an indication of the number of additional fields (those not covered by OCDS or extensions) on the overview page.

[2019-12-03 20:06] jpmckinney commented on #8
It was also noted that a shorter table could be included on the overview page:

i.e. instead of a breakdown by `documentType` code as above, it'd just give the total number of document objects for each stage/section.

[2019-12-03 20:13] jpmckinney opened #13 "Overview: Add links for extensions"
If available, the `documentationUrl` can be taken from the linked `extension.json` file. Otherwise, the extension name can link to the `extension.json` file.

[2019-12-03 20:17] jpmckinney opened #14 "Zoom to different periods of time, buyers, procuring entities"

[2019-12-09 12:29] hrubyjan commented on #13
This has already been implemented and the links to the documentatio of extensions are provided when the info is properly published see:
https://dqt.datlab.eu/overview/50
https://dqt.datlab.eu/overview/49

[2019-12-09 15:26] jpmckinney commented on #13
Indeed!

[2019-12-09 15:26] #13 closed, assigned to nobody

[2019-12-09 16:25] jpmckinney opened #15 "Overview: Release date distribution: Unclear dates"
https://dqt.datlab.eu/overview/50

It shows e.g. Nov-5 and Nov-18, but I don't know if the numbers are days of the month or are truncated years. Let's instead use the date format YYYY-MM (days don't matter).

[2019-12-09 16:30] jpmckinney opened #16 "Overview: Confusion between Published from/to and Release date distribution"
https://dqt.datlab.eu/overview/50

Published from/to are both 2014-12-31 16.52.35, but the Release date distribution has a different date range.

I think this is because Published from/to is taking the dates from the collection of compiled releases, which won't have the correct dates. Instead, it should be taking the dates from the collection of individual releases (same collection as for the dist

[2019-12-16 14:44] pindec opened #17 "Overview: Contract Values should be in source currency with convert option"
We need to know what the source currency is for the contract values section.

At present, contract values are shown in USD (presumably values are converted to USD as of the compiled release's date as in the [contracts value distribution](https://dqt.datlab.eu/dataset/64/detail/distribution.contracts_value)). To find out what currency the contracts are actually declared in, I had to check source da

[2019-12-16 14:49] pindec commented on #1
+1 for display the field(s) referenced by the metadata in the sample's JSON.

I interpret this to mean, where "Metadata" is given for failed paths, those paths should be clickable to auto-expand the relevant JSON and jump to it in "Data Preview".

It's frustrating to know that particular fields have been flagged as failing, but having to click through large JSON blocks to get to them.

The issue i

[2019-12-16 15:39] jpmckinney commented on #17
Thanks, @pindec! Can you share some of the use cases for the new features you describe?

I think the current chart is only there because it was in an early wireframe to demonstrate the possibilities for the overview page; no one said they didn't need it, and so it's there now. However, I'm not sure we ever elaborated the need for it – which we should take this opportunity to clarify.

[2019-12-16 15:39] jpmckinney opened #18 "Display the field(s) referenced by the metadata in the sample's JSON"
Splitting out from #1

+1 for display the field(s) referenced by the metadata in the sample's JSON.

I interpret this to mean, where "Metadata" is given for failed paths, those paths should be clickable to auto-expand the relevant JSON and jump to it in "Data Preview".

It's frustrating to know that particular fields have been flagged as failing, but having to click through large JSON blocks to ge

[2019-12-16 15:40] jpmckinney commented on #1
Thanks, @pindec! I split this out to #18, so that it can be prioritized as an independent issue.

[2019-12-17 20:19] jpmckinney opened #19 "If making a public view, link to glossary of terms"
Feedback from Nico showing the tool to a partner:

[2019-12-18 08:53] pindec opened #20 "Overview: content on overview page"
From issue #17, the "contracts values" chart (of contract values split by value range in USD, e.g n values 0-$10,000) on the overview page is a placeholder.

This is an issue to discuss what content is helpful on the overview page, i.e. candidates to replace that chart and other possible additions.

A few suggestions:

- a chart of objects per stage over time (by year) - as an analyst, I want to s

[2019-12-18 09:08] pindec commented on #17
Thanks @jpmckinney. In that case, I've split out a separate issue #20 for use to discuss what should be on the overview page.

For this issue, as an analyst, I want to be able to see how contract values published have changed over time so that I better understand the scope of a publisher's contract data - for example, if we have other data on the value of contracts by year a particular publisher h

[2019-12-18 15:35] jpmckinney opened #21 "Accessing dataset detail directly doesn't load content"
https://dqt.datlab.eu/dataset/64/detail/distribution.contracts_value

Accessing from dataset summary works fine.

[2019-12-18 15:50] jpmckinney commented on #17
There's a currency distribution check to answer that: https://dqt.datlab.eu/dataset/64

I've opened a PR to add a note about conversion to the visualization's tooltip. All monetary values are converted to USD, as otherwise many of the checks would need rules for every currency.

I think this can be determined on the field-level checks page?

Any objection to removing it?

The DQT is focused on dat

[2019-12-18 16:02] jpmckinney commented on #20
Good idea!

If we want to compare two collections of one source at different times, to see the evolution of the publication, that can be explored in issue #11.

I suppose we can do the same within one collection (as suggested), by comparing compiled releases with `date`s in different years, but this assumes a publisher never backfills earlier contracting processes (e.g. by connecting a new backend

[2019-12-18 16:09] jpmckinney commented on #20
To scope this issue a bit, and to avoid disappointing any new suggestions along the lines below (copying and expanding on a comment from #17):

The DQT is focused on data's intrinsic quality. As such, the content on the overview page should support an interrogation of the dataset's quality, rather than an exploration of the data it contains. A separate data exploration or business intelligence too

[2019-12-18 16:39] pindec commented on #17
@jpmckinney no objection to just removing it :)

[2020-01-15 15:07] jpmckinney opened #22 "User accounts with limited access"
As an alternative to #6, we can consider user accounts, where some users have access to only specific datasets (e.g. if we are comfortable sharing all results for a particular dataset with the publisher).

[2020-01-20 19:30] romifz opened #23 "Page crashes with large release sample?"
In [this page](https://dqt.datlab.eu/field/101/detail/tender.items.quantity), when selecting the first coverage failure sample my browser crashes. I downloaded the sample separately and it seems to be a large one (1.8mb).

I'm using Chrome Version 70.0.3538.110 (Official Build) (64-bit).

[2020-01-20 22:01] romifz opened #24 "Is the "Document format is recognized" check refering to the format name only?"
All the samples I've seen in https://dqt.datlab.eu/field/101/detail/contracts.implementation.milestones.documents.format say that `image/jpeg` is not a valid media type. I'm not sure why `image/jpeg` is not valid, or does this happen because the media type is checked against the file extension? The files use `.jpg` as extension as far as I've seen.

[2020-01-21 04:09] jpmckinney commented on #24
It's a bug. I'm not sure why it's not including in the tool's internal list of IANA Media Types.

[2020-01-21 08:19] hrubyjan commented on #23
Thanks, we'll examine this

[2020-01-21 15:05] romifz opened #25 "Question about the "Contracting process timeline" check"
The description text for the "Contracting process timeline" compiled release check includes the following:

Does this takes into account the award or contract status? If a contract has a `dateSigned` ahead of the release date, but the contract is in the `pending` status, should the date discrepancy be allowed?

[2020-01-21 15:31] jpmckinney commented on #25
@romifz I think the semantics of `dateSigned` is that it must be the actual date of signature. We don't want fields to change semantics based on status fields, if possible (there are some exceptions that we want to remove in future versions of OCDS: https://github.com/open-contracting/standard/issues/914)

[2020-01-21 16:15] romifz commented on #25
Thanks @jpmckinney, makes sense.

[2020-01-21 16:16] #25 closed, assigned to nobody

[2020-01-24 21:36] romifz opened #26 "Extension names with wrong links"
In Paraguay's collection overview, the two last items in the Extensions list are not linked to the extension documentation but to the same page.

Please see https://dqt.datlab.eu/overview/101.

[2020-01-31 17:44] romifz commented on #6
I think it would be useful to be able to download a list of ocid/release ids that fail a check, especially for those that may require complex queries to extract a list of cases.

[2020-02-04 16:36] jpmckinney commented on #21
@hrubyjan

[2020-02-04 16:37] jpmckinney commented on #23
FYI, Safari doesn't crash.

[2020-02-04 16:41] jpmckinney commented on #26
Those two extensions provide an empty `documentationUrl`:

* https://gitlab.com/dncp-opendata/ocds_document_type_details/raw/master/extension.json
* https://gitlab.com/dncp-opendata/ocds_contract_cancellations_amendments_extension/raw/master/extension.json

This is a publisher error. However, it is confusing for the DQT to have an empty hyperlink in such cases. Instead, we can either default to li

[2020-02-05 11:21] yolile opened #27 "'Tenderer's name is consistent' check sample error should show only the ones who failed"
In https://dqt.datlab.eu/resource/106/detail/consistent.tenderer_name_in_parties if you click on any 'Sample of failures' links in meta/references you got the full list of all the tenderers and with the meta "pass_count" and "application_count" you know that **one of them** failed and you have to check one by one who is the one who failed. It would be better if we can see directly which one failed

[2020-02-05 11:35] yolile opened #28 "Period's duration check: should it fail when the durationInDays field is rounded up?"
In https://dqt.datlab.eu/resource/106/detail/consistent.period_duration_in_days
Almost all the period's duration check failed because the tenderPeriod is, for example:

[code]
So in this case the **exact** durationInDays should be **9.7 days**. But the durationInDays field is an integer field, so in this case the value is rounded up. Should be this marked as a fail?

[2020-02-05 12:20] yolile opened #29 "Is the term 'failed' appropriated for the 'Field is set' check?"
For example:

![image](https://user-images.githubusercontent.com/6834122/73840120-3bdbaa00-47f6-11ea-9517-318d7a521106.png)

I understand that the 'Failed' term refers to the check it self, but if a term is not set ,that is not a failure, is just a coverage issue that says "the publisher doesnt publish this field" it doesnt imply that something is wrong.

And actually the check was made and the re

[2020-02-05 12:25] yolile commented on #7
I would like to have, at least some, of the checks by buyer/procuring entity.
For example the coverage check. We do this kind of analysis quite often for the Colombian Prosperity Fund project and in general, as the data normally comes from different buyers it is good to know which ones are the one with less completed fields or poor quality fields.

[2020-02-05 13:02] hrubyjan commented on #28
Thanks for the feedback. I've already met this one too and the evaluation really looks weird

[2020-02-05 13:26] hrubyjan commented on #27
You are right this not very handy. We'll fix it. Thanks for feedback.

[2020-02-05 14:29] jpmckinney commented on #29
@hrubyjan For this check, we can perhaps use a different pair of entries in the translation file, and use the terms 'Set' and 'Not set'.

[2020-02-05 15:14] jpmckinney commented on #7
@yolile Do you mean being able to view only the results for a specific buyer/procuring entity? i.e a feature similar to #14? If so, in CRM 5552, a government also expressed interest in this.

[2020-02-05 19:55] jpmckinney commented on #22
In CRM-5552, a government also expressed interest in API access to the results (we can perhaps add API keys to the existing API used by the frontend).

[2020-02-05 23:27] yolile commented on #7
Yes, exactly like that

El mié., 5 feb. 2020 12:14, James McKinney <notifications@github.com>
escribió:

[2020-02-06 02:41] jpmckinney commented on #14
See comments in #7.

[2020-02-07 21:27] jpmckinney commented on #27
Marking this as duplicate of #18.

[2020-02-07 21:27] #27 closed, assigned to hrubyjan

[2020-02-13 16:49] jpmckinney commented on #14
+1 from Nico and Oscar (OCP program managers). Need to:

1. Check if there were any other priority filters besides time period, buyer, procuring entity (double-check that we want both buyer and procuring entity)
1. Think whether we have any specific interface requirements (besides selecting a start date, end date, and a buyer/procuring entity from a dropdown)

[2020-02-13 16:52] jpmckinney commented on #6
Some notes from OCDS retreat plenary session:

* Export the JSON for the sample of specific cases that are failing / download the list of errors
* For each check, add boilerplate text that can be copy-pasted into feedback reports / Export check results in plain text, or other formats to include in feedback reports
  * A fancier version of this would be a button to export to Google Docs
* Could Pel

[2020-02-13 16:52] jpmckinney commented on #6
See also #22

[2020-02-26 02:13] duncandewhurst opened #30 "State whether checks are coverage or quality and group samples of failures by check"
e.g. for the [contact point email check](https://dqt.datlab.eu/field/113/detail/parties.contactPoint.email) there are three checks:

![image](https://user-images.githubusercontent.com/19265814/75305144-23692780-58aa-11ea-81c4-01a2f995434c.png)

Then there are two boxes of samples of failures, coverage and quality:

![image](https://user-images.githubusercontent.com/19265814/75305175-3c71d880-58aa-

[2020-02-26 06:25] duncandewhurst opened #31 "New checks: organization name and identifier consistency"
In the Bandung data there are examples where the same identifier is used for different organization names and also examples where different identifiers are used for the same organization name, e.g.

id | name | name_en | contracting_processes
-- | -- | -- | --
1.03.01.01 | Dinas Bina Marga dan Pengairan | Highways Agency and Irrigation | 3342
1.03.01.01 | Dinas Pekerjaan Umum | public Works Servic

[2020-02-26 15:55] jpmckinney commented on #31
In the case of same ID, my understanding is:

1. The compile step will have merged the `parties` objects with the same `id` into one, thus preserving only one name
1. If there is an organization reference using the other name, the name consistency check will then fail

So, I think the first case is already checked.

In the case of same name, that is a new check.

[2020-02-26 16:01] jpmckinney commented on #30
Related: https://gitlab.com/datlab/ocp/ocp-data-quality/issues/14

[2020-02-26 18:36] duncandewhurst commented on #31
Sorry, I should have been clearer I was proposing a dataset level check rather than a compiled release level check.

In the case of Bandung they don't use `.identifier` but they do put what look like 'real' identifiers in `.id`, so for the general case it would be good to check for these issues across `.identifier`/`.name` and `.id`/`.name`, although for the latter there may be false positives if

[2020-02-26 18:49] jpmckinney commented on #31
Aha, yes, consistent party name-ID pairs across contracting processes is a good check.

[2020-03-03 17:08] odscrachel opened #32 "Possible bug with OCID registered prefix failure"
For kenya_makueni all OCIDs fail data quality due to the prefix not being registered https://dqt.datlab.eu/field/148/detail/ocid, however checking https://standard.open-contracting.org/latest/en/implementation/registration/?highlight=prefix#ocid-prefix 'muq5cl' it looks like it is correctly registered.

[2020-03-03 18:07] jpmckinney commented on #32
Noting that this has been reported on GitLab: https://gitlab.com/datlab/ocp/ocp-data-quality/issues/15

It's because the minimum-viable product simply cached all OCID prefixes available at that time. The issue is to now automatically get new prefixes.

[2020-03-08 23:32] duncandewhurst opened #33 "Add list of unrecognized schemes to results of parties.identifier.scheme check"
![image](https://user-images.githubusercontent.com/19265814/76173172-d66a4700-6201-11ea-9527-2e9c0d55c776.png)

It would be helpful to get a deduplicated list of the identifier schemes which failed the check, so we can report these to the publisher.

[2020-03-08 23:37] duncandewhurst opened #34 "Allow opening check results in a new tab"
I want to be able to right click a check in the field-level checks screen and open the results in a new tab, so that I don't lose my place in the list after reviewing the results of an individual check.

[2020-03-09 00:33] duncandewhurst opened #35 "Document the meaning of metadata fields displayed in 'sample of failures' previous"
I'm not sure how to interpret some of the metadata fields in the example below.

I don't know what `version` is in relation to and I can take a guess at `value`, `result`, `pass_count` and `application_count` but it would be good to have them documented.

The documentation (or a link to it) should be proximate to where the fields appear in the interface.

![image](https://user-images.githubusercon

[2020-03-09 00:50] duncandewhurst opened #36 "Filter or sort compiled release screen to show only checks with failures"
It's possible to sort the field checks screen by 'quality' to quickly see what the list of quality issues is.

It would be good to have a similar feature on the compiled release screen.

[2020-03-09 01:10] duncandewhurst opened #37 "Add note/header to field checks screen to remind users that only core OCDS fields are checked"

[2020-03-09 01:39] duncandewhurst opened #38 "Report failures <1%"
For example, the 'procuring entity organization reference' check reports no failures on the compiled release screen:

![image](https://user-images.githubusercontent.com/19265814/76175880-741a4200-6213-11ea-8dfb-517db6b6565e.png)

But clicking through to the check shows that there are actually 3 failures:

![image](https://user-images.githubusercontent.com/19265814/76175903-8d22f300-6213-11ea-9db1-

[2020-03-09 02:14] duncandewhurst opened #39 "Consider grouping field check results"
For example, in the Data Feedback Notebook there is a check for unlikely dates which checks the `.startDate` and `.endDate` fields in `.tenderPeriod`, `.enquiryPeriod`, `.awardPeriod` and `.contractPeriod`.

In Pelican the same check is split across 8 different individual checks.

When sharing feedback with publishers it would be useful to group results where the same check is applied across diffe

[2020-03-09 14:17] jpmckinney commented on #37
Can you suggest a specific change to the text?

[2020-03-09 14:23] jpmckinney commented on #35
Right now, we just display the internal metadata verbatim. Another option, instead of linking to documentation, is to render it in a more human-friendly way.

[2020-03-09 14:28] jpmckinney commented on #36
Would you want to sort across the three types (consistency, etc.), or only within each type?

[2020-03-09 14:40] jpmckinney commented on #38
Related: https://gitlab.com/datlab/ocp/ocp-data-quality/-/issues/13

[2020-03-09 14:46] jpmckinney commented on #39
Are you thinking this might be a view you toggle into? For example, there's currently a toggle at the top-right of the field table to nest fields or not.

[2020-03-09 19:46] duncandewhurst commented on #39
Yep, a toggle for group by field / group by check type sounds good.

[2020-03-09 19:48] duncandewhurst commented on #36
I'd like to be able to quickly see all the checks with failures, so it could either by a sort across all the types, or a filter just to show the checks with failures. For the current number of checks I'm not too worried about sorting within types.

[2020-03-09 20:03] jpmckinney commented on #33
Actually, on re-reading the code, it might be possible to do at the field-level. However, it might make more sense at the dataset-level anyhow.

[2020-03-09 20:05] duncandewhurst commented on #33
Dataset level sounds good, but it would be good to identify which do/don't appear in org-id so the analyst doesn't have to manually look them up.

[2020-03-09 20:29] jpmckinney commented on #36
Okay, so if there were a toggle to hide checks without failures, that'd be sufficient?

Is sorting relevant (e.g. to identify the most common errors) or was that just a suggestion as a way to implement the filtering?

[2020-03-09 20:36] duncandewhurst commented on #36
It was just a suggestion of how to implement the filtering (as that is how I've used the sort feature in the field screen) but sorting could also be useful to identify the most common errors, particularly if there are lots of checks in which there is a very small percentage of failures

[2020-03-09 20:43] jpmckinney commented on #36
In that respect, would a similar toggle to show/hide passing quality checks be useful on all screens (field-level, dataset-level, time-based level)?

[2020-03-09 22:00] jpmckinney opened #40 "Clarify the description of the contract value distribution"
The double usage of percentages confuses people:

We can try using words like 'rank' or 'percentile' – or split the description into 2-3 sentences to describe the steps of: ordering values, summing all values, summing top 1% values, making comparison.

[2020-03-09 22:01] jpmckinney opened #41 "Calculate the most common failures across collections"
Since this will only be used on occasion, and mostly to inform the development of implementation resources and the standard itself, we can take a low-fidelity approach, e.g. just running SQL queries – rather than a high-fidelity approach, e.g. with a designed results page.

[2020-03-09 22:04] jpmckinney opened #42 "Clarify the average score for checks"
On the compiled release page, for each type of check, there's:

We should add an info bubble to explain how the average is calculated.

Also, at the OCDS retreat, people wanted an explanation of the pass/fail numbers in the tables. We can perhaps describe these in the same way we describe the numbers for field-level checks.

[2020-03-09 23:14] jpmckinney commented on #6
Additional notes from OCDS retreat co-working session:

## Context

When implementers share their OCDS publication with us, a helpdesk analyst presently collects and processes the data with Kingfisher, then uses a [Google Colaboratory notebook](https://colab.research.google.com/drive/1lpWoGnOb6KcjHDEhSBjWZgA8aBLCfDp0) to run SQL queries, whose results are used to fill in a [data feedback report te

[2020-03-10 05:22] duncandewhurst commented on #36
Yes, that sounds good!

[2020-03-10 21:44] jpmckinney opened #43 "Usability checks"
## Background

Camila can presently generate a list of indicators and their level of support across multiple datasets:

![Screen Shot 2020-03-10 at 5 38 26 PM](https://user-images.githubusercontent.com/26463/76361716-f5e29c00-62f5-11ea-9dca-0a98e491f939.png)

In feedback to publishers, there should be a description of why each indicator is important (building on [this document](https://docs.google

[2020-03-19 22:49] duncandewhurst opened #44 "Report on which checks are commonly failed across publishers"
Knowing which errors occur most frequently across all publishers will help to inform improvements to schema descriptions, documentation and guidance.

It will also help the helpdesk prioritise preparing boilerplate text to explain how to address failing checks.

In the first instance this doesn't have to be integrated into the Pelican interface, it could just be a report run on demand.

[2020-03-20 16:35] jpmckinney commented on #14
Background: The current framework calculates the results of individual checks, then summarizes the results. These summaries allow the frontend to be very responsive.

There are two implementation options for filtering. After selecting the filters:

1. Re-run all the checks using the existing framework, with the filtered collection behaving like a new collection. (We won't need to re-import from Ki

[2020-03-26 00:43] duncandewhurst commented on #44
Duplicates #41

[2020-03-26 00:43] #44 closed, assigned to nobody

[2020-03-26 00:49] duncandewhurst opened #45 "Contract values chart on overview screen shows 0 values"
In the [Pelican report for Makueni](https://dqt.datlab.eu/overview/148) the contract values chart reports 0 values, but `contracts.value.amount` and `contract.value.currency` have 100% coverage:

![image](https://user-images.githubusercontent.com/19265814/77599034-51ed2780-6f68-11ea-885b-5bcd30eeb3ae.png)

![image](https://user-images.githubusercontent.com/19265814/77599046-5d405300-6f68-11ea-818b

[2020-03-26 00:54] duncandewhurst opened #46 "Report the actual values in the sample of success/failures tables"
For fields which aren't objects or arrays it would be useful to see the actual value for each of the examples in the samples of successes/failures table, so we don't have to open multiple JSON previews to view the individually.

Basically, I mean adding a 'value' column to this table:

![image](https://user-images.githubusercontent.com/19265814/77599337-3df5f580-6f69-11ea-8d42-ee8c9169b1bb.png)

[2020-03-26 02:52] duncandewhurst opened #47 "Typo in explanatory note on contract status distribution check"
The note references `tender.status` when it should reference `contract.status`

![image](https://user-images.githubusercontent.com/19265814/77605384-9fbe5b80-6f79-11ea-88a9-22322298cfdc.png)

[2020-03-26 04:49] jpmckinney commented on #45
It might be that the release dates are so recent, that the cached currency conversion rates don't cover those dates. There's an open issue to update rates daily: https://gitlab.com/datlab/ocp/ocp-data-quality/-/issues/16

[2020-03-26 04:50] jpmckinney commented on #46
This could work for field-level checks.

[2020-03-26 13:55] odscrachel opened #48 "Consider using contrasting colours in donuts"
I was going to send this to a publisher but realised it was a bit unclear. It might be clearer if the donuts used contrasting colours instead of a colour gradient.
![dqt1](https://user-images.githubusercontent.com/59564404/77654716-52d28900-6f69-11ea-9699-93f83874a628.png)

[2020-03-26 14:12] jpmckinney commented on #48
Or perhaps the gradient can go to further extremes (darkest is darker, lightest is lighter). Contrasting colors are hard to do properly for color-blind users (like me).

[2020-04-01 07:31] duncandewhurst commented on #48
+1 to making the distinction clearer

[2020-04-07 15:01] jpmckinney commented on #23
I now get "Data item cannot be previewed"

[2020-04-07 15:07] jpmckinney commented on #1
Closing. New issues can be created if there is demand for the others from the issue description.

[2020-04-07 15:07] #1 closed, assigned to nobody

[2020-04-15 17:31] jpmckinney opened #49 "Field coverage visualization"
## Background

From chatting with Camila and program managers:

* The stage-level coverage on the overview page is good for a high-level view.
* The field-level coverage on the field page is a good low-level view.

However, we could use an intermediate level view.

## Discussion

We are thinking that a bar/column chart can be used to visualize, for each major section, the proportion of core OCDS f

[2020-04-16 12:37] hrubyjan commented on #38
Done

[2020-04-16 12:40] hrubyjan commented on #34
Done and deployed. You can use a custom menu on a right click.

[2020-04-16 12:47] hrubyjan commented on #26
The solution has been deployed. It currently does not look like a hyperlink but if you click it, the json will open

[2020-04-16 12:51] hrubyjan commented on #32
currently the OCID prefixes are being updated as a first step of each dataset processing if the `starter` worker is used (I've already explained it to James but I'm rather mentioning it one more time :) ).

So next time we'll process kenya_makueni the quality issue shouldn't be present

[2020-04-16 13:43] hrubyjan commented on #23
@jpmckinney  currently we don't preview samples that have more than 3k lines because it could have caused browser crash. You can still download the JSON. Yes, better explanation is needed. Another solution would be testing the size of sample json during the samples selection and use only those that are small enough. But it can lead to the situation when no suitable sample will be available.

[2020-04-16 13:50] hrubyjan commented on #21
It's been fixed some time ago. Sorry I forgot to update the issue.

[2020-04-16 13:52] hrubyjan commented on #23
Let me know if the solution is ok for you.

[2020-04-16 13:57] hrubyjan commented on #38
Let me know whether it works for you or we should change it in some way

[2020-04-16 14:00] hrubyjan commented on #38
Sorry there is one more thing I discussed with James. Too many red zeros here. The problem can't be recognized at the first glance. I'm taking the issue back :).
![image](https://user-images.githubusercontent.com/17906453/79465163-4509a400-7ffb-11ea-9580-dd6978d2592d.png)

[2020-04-16 14:10] jpmckinney commented on #23
Let's improve the message: explaining why the sample can't/won't be previewed, and reminding the user that they can download it instead.

[2020-04-16 14:11] jpmckinney commented on #38
The first part about >0% and <100% works for me!

[2020-04-16 14:14] jpmckinney commented on #26
Hmm, can we instead link to the `extension.json` file? That way, the user can browse the rest of the repository in which that file is hosted. I don't think the JSON rendering is needed.

[2020-04-16 14:14] #21 closed, assigned to jpmckinney

[2020-04-16 14:20] #34 closed, assigned to nobody

[2020-04-20 00:19] duncandewhurst commented on #38
Same here, thanks @hrubyjan!

[2020-04-22 07:11] hrubyjan commented on #28
Fixed. We added new test to source codes and I recalculated Chilean data (Kingfisher kcollection ID 870). The results changed in a positive way and I was not able to find this problem manually.

Previous results
![image](https://user-images.githubusercontent.com/17906453/79951477-0e0f1480-8479-11ea-9d4c-89158f252891.png)

Current results
![image](https://user-images.githubusercontent.com/17906453/

[2020-04-22 07:17] hrubyjan commented on #23
OK @jpmckinney, please do the copywriting :):

Data item cannot be previewed because it's too big (more than 3000 lines) and it can cause a browser crash. You can still download the JSON file.

[2020-04-22 07:25] hrubyjan commented on #24
@jpmckinney the problem is most probably that from some reason some media types are missing information in the source CSV file :(

![image](https://user-images.githubusercontent.com/17906453/79952737-297b1f00-847b-11ea-9ce9-f743758ae462.png)

[2020-04-22 15:01] jpmckinney commented on #28
I see that the check now removes the time component and then calculates the difference.

So, for a start/end of 2000-01-01T23:59:59Z/2000-01-02T00:00:00Z, we'd have an expected duration in days of 1, even though only one second has passed.

Instead of removing the time component, should we instead just round the difference to the nearest integer?

The standard doesn't have clear guidance on how to

[2020-04-22 15:08] yolile commented on #28
Yes, I agree with that. As the standard is not clear we don't have an exact rule to follow so both things should be considered correct for now.

[2020-04-22 15:48] jpmckinney commented on #24
Aha. The RFCs sometimes describe the subtypes. In the script that collects media types, let's manually add `image/gif` and `image/jpeg` with a link to https://tools.ietf.org/html/rfc2046

[2020-05-14 14:06] hrubyjan commented on #6
@jpmckinney @romifz @pindec

This is a concept how the whole process can work. This is based on the requirements we discussed on a call (May 5th). Let me know whether we are on the right track 👍🏾 or completely wrong 👎🏼

Our idea is to set up a tagging system which will allow us to import data from Pelican to google document. There will be tags that can be used to import
- pictures
- OCIDs
- sample

[2020-05-19 19:41] romifz commented on #6
Hi @hrubyjan,

Thanks for this. For me the proposal seems right, however, I'm not sure if I understand the sub-templates concept. Would these exist inside Pelican? And be editable by us? Once the system is in place, we will need to define an initial set of sub-templates, right?

[2020-05-19 19:51] jpmckinney commented on #14
Filtering is now available for testing! A few notes:

* You can select multiple literal values for buyer name and procuring entity name. The name in the data needs to match ANY of the literal values.
* You can also set both literal and pattern filters (though it's not clear why you would want to do that). If you do, the name in the data needs to match BOTH the literal and pattern filters.
* [x] Th

[2020-05-19 20:09] jpmckinney commented on #6
In our call today, @hrubyjan and I agreed that Datlab will prepare a brief main report template and some sub-templates to demonstrate how the helpdesk will configure the templates – to make it easier to give feedback on the proposal.

[2020-05-22 15:00] pindec commented on #6
Thanks @jpmckinney, @hrubyjan, seeing an example would be very helpful.

The proposal sounds like it is on the right track. The sub-templates sound like they may be placeholders for data to import from Pelican, together with explanatory text to support interpretation of that data.

It would also be good for us to understand how the list of checks to be imported from Pelican is generated, given tha

[2020-07-17 15:40] jpmckinney opened #50 "Summary of major errors"
Logging this idea. Not yet prioritized.

[2020-07-17 15:40] jpmckinney opened #51 "Filter lists of checks to display only those with failures"
Logging this idea. Not yet prioritized.

[2020-07-29 21:30] duncandewhurst opened #52 "Metadata in .documentType check"
The first example of a failure in https://dqt.datlab.eu/field/181/detail/awards.documents.documentType has the following metadata, which I'm not sure how to interpret in the context of the check which has failures:

![image](https://user-images.githubusercontent.com/19265814/88855420-ed5c1500-d246-11ea-8ef8-44104adf2363.png)

The data can't be previewed as it is too large (see #23) so I'm not sure

[2020-07-29 22:06] duncandewhurst opened #53 "Parties are referenced check: Export list of parties/roles which aren't referenced"
In the [parties are referenced check](https://dqt.datlab.eu/resource/181/detail/consistent.parties_roles) I can see that there 69,903 parties/roles which aren't referenced, but I can't see *which* parties/roles have the issue,  e.g. is it always the 'payer' role or are there other roles which aren't referenced.

Ideally I'd like to be able to export a results table with the following columns:

`oc

[2020-07-29 22:22] duncandewhurst opened #54 "Amendment dates check: Export list of amendments with issues"
Similar to #53, from the [amendment dates check](https://dqt.datlab.eu/resource/181/detail/coherent.amendments_dates) I can see that there are 4,820 amendments with incoherent dates, but I can't see which amendments/dates are incoherent.

For feedback to the publisher it would be better if I could report which amendments/dates have issues. Ideally, I would like to export a results table with the f

[2020-07-29 22:25] jpmckinney commented on #52
I think `"name": "exists"` means that the field isn't set. @hrubyjan ?

[2020-07-29 22:31] jpmckinney commented on #53
Clicking on a few Previews, it seems to mostly be 'payer'. I see 'tenderer' also fails, because there are no references from `tender/tenderers` (though there are references from `bids/details/tenderers`).

We can perhaps consider an export as a tag in the reporting feature #6 @hrubyjan

[2020-07-29 22:38] jpmckinney commented on #54
The check performs four comparisons, so the table would have to be a fair bit more complicated if you want the publisher to be able to see what is incoherent about the dates.

In your simpler table, since the error might be with either of the two dates in each comparison, it's not clear to me which should be reported.

In the metadata of the Previews, it shows the pairs of date paths and values th

[2020-07-29 22:43] jpmckinney commented on #52
I think this is a duplicate of #35

[2020-07-29 22:55] duncandewhurst commented on #54
I think the table can express each type of incoherence:

`ocid` | amendment path | `amendment/id` | date path | date parent id
------- | ----------------------- | --------------------- | ------------ | -------------------
ocds-xxxxx-123456 | tender/amendments | ta-01 | release/date | r-01
ocds-xxxxx-123456 | tender/amendments | ta-01 | tender/tenderPeriod/startDate | t-01
ocds-xxxxx-123456 | contr

[2020-07-29 22:59] duncandewhurst commented on #52
The chart shows that no 'field is set' checks failed, so I'm confused why I'm seeing this metadata when I click an example of a failure.

So something seems wrong (in addition to the need for documentation expressed in #35).

[2020-07-29 23:04] duncandewhurst commented on #53
Ah yes, this is similar to the requests in https://github.com/open-contracting/data-quality-tool/issues/6#issue-532164673 and https://github.com/open-contracting/data-quality-tool/issues/6#issuecomment-580836337 to download a list of failures - but with more specific details on what the failure was exactly.

[2020-07-29 23:25] jpmckinney commented on #54
Wouldn't it help to have the actual date values, not just the paths and IDs?

I'm thinking we can perhaps add a tag to the reporting feature that reformats the metadata from multiple samples into a table. @hrubyjan

[2020-07-30 00:17] duncandewhurst commented on #54
I think it's most useful to have the relevant ids, e.g. to help track down an issue with the OCDS mapping/export for a particular procedure type or system, but I guess the actual dates could be useful to catch other types of issue, e.g. all amendments have date 1970-01-01 etc.

[2020-07-30 02:50] jpmckinney commented on #54
For me, the dates give a sense of whether it's e.g. a time zone issue (just a few hours off), a semantic issue (like here, it's just a few days), or a clear data quality or mapping issue (month/years). Pulling up a compiled release (the publisher might not have compiled releases, so they'd have to figure out the specific releases) based on the OCID and then navigating to an entry in an array is a

[2020-07-30 02:58] duncandewhurst commented on #54
Okay, makes sense. In any case, it would be useful to know which amendment date / other date field combos have issues.

[2020-08-07 18:22] jpmckinney commented on #43
@camilamila has prepared a Colaboratory notebook to calculate support for a number of indicators, based on the presence of fields: https://colab.research.google.com/drive/15ofM1htlq02_N0D9Rvas-QpmAUa6JqaO

[2020-08-17 15:36] jpmckinney commented on #39
@duncandewhurst Could you describe the groups you would want? Once we have that, we can plan the changes.

[2020-08-17 22:25] duncandewhurst commented on #39
The main one I had in mind was to group all the 'Date is realistic' checks in one place.

But it would be helpful to group any other checks which are applied to multiple fields, e.g. 'Document type is coherent' and 'Has 250 characters or less'.

I picked those examples by looking at the check results for the latest Moldova collection, but there could be others depending on which fields are include

[2020-08-17 22:33] jpmckinney commented on #39
Here's a [list of checks](https://docs.google.com/document/d/1l5SL1hUR9n8IDYVLSYsU85hdB3L_u2e3iD-txQPc0zU/edit) that I exported from Pelican. I can reformat the output as a spreadsheet with more detail on field paths for field-level checks. Let me know if you prefer that.

In most cases, for now, you can sort by quality and use the filter text box to search for "document" or "period", and the matc

[2020-08-18 02:00] duncandewhurst commented on #39
Thanks!

From that list, I think 'Document format is recognized' and 'Number is non-negative' are the other useful ones to group by.

[2020-08-18 14:04] jpmckinney commented on #47
I've merged this on GitLab.

[2020-08-18 14:04] #47 closed, assigned to nobody

[2020-08-19 21:47] hrubyjan commented on #23
Changed long time ago
![image](https://user-images.githubusercontent.com/17906453/90692936-429fab00-e276-11ea-9dfb-e8f3513ad37d.png)

[2020-08-19 21:58] hrubyjan commented on #5
Do we want to add copy to clipboard function when we have download function? This is an old reques so I'm rather asking
![image](https://user-images.githubusercontent.com/17906453/90693873-e3429a80-e277-11ea-84fc-cf1ee057ed31.png)

[2020-08-19 22:00] hrubyjan commented on #12
This should be no problem. How can I obtain this link?

[2020-08-19 22:18] #23 closed, assigned to hrubyjan

[2020-08-19 22:24] jpmckinney commented on #12
Same as for `license`, except the field name is `publicationPolicy` :)

[2020-08-28 08:55] hrubyjan commented on #45
It was already implemented but not turned on. The extractor worker updates the exchange_rates table always when it get's a command to process new dataset and some exchange rates are missing

[2020-08-31 17:11] #45 closed, assigned to nobody

[2020-09-01 14:46] jpmckinney commented on #51
Duplicate #36

[2020-09-01 14:46] #51 closed, assigned to nobody

[2020-09-02 01:00] jpmckinney commented on #24
@hrubyjan I've found the problem. The code only retrieves application.csv from IANA, but there are also:

* audio.csv
* font.csv
* example.csv
* image.csv
* message.csv
* model.csv
* multipart.csv
* text.csv
* video.csv

[2020-09-02 01:20] jpmckinney commented on #35
As part of this, we can edit the human-readable "reason" text for clarity. Originally reported in https://gitlab.com/datlab/ocp/ocp-data-quality/-/issues/37

[2020-09-02 02:28] jpmckinney commented on #26
This question hasn't been answered, so moving back to In Progress.

[2020-09-02 02:29] jpmckinney commented on #28
@hrubyjan Did you take into account the last two comments above?

[2020-09-02 03:51] jpmckinney commented on #9
From GitLab:

[2020-09-02 04:00] jpmckinney commented on #7
@mrshll1001 Please feel free to open issues for the ideas in the issue description. However, my concern is that they aren't really quality checks as there is no pass/fail condition. Also, the single report you describe could be very long/large. This might be something better reserved for a notebook, where an analyst can change the report as needed to limit the display of information.

[2020-09-02 04:00] #7 closed, assigned to nobody

[2020-09-02 04:05] #17 closed, assigned to nobody

[2020-09-02 04:08] jpmckinney commented on #3
Copying here:

### Check inputs

See also [discussion here](https://docs.google.com/document/d/17BY8RLrX0rTp7K0zypthw3Zz7XxaBlxoaBHiPlFZHGU/edit#bookmark=id.xpoubkg5q58z).

1. Most checks require compiled releases as input. **Do we need checks for**:
    1. Package metadata? (requires package data as input)
    1. The `packages` array in record packages? (requires package data as input)
    1. Lin

[2020-09-02 04:39] jpmckinney commented on #14
@hrubyjan In my last comment, there's one remaining fix: to change the Buyer name / Procuring entity name labels on the overview page to:

* Buyer name
* Procuring entity name
* Buyer name pattern
* Procuring entity name pattern

[2020-09-02 04:54] jpmckinney commented on #52
I downloaded the failure. The `"result"` is `true`, which means it shouldn't be one of the sample failures. I had a look at the  code, and it's not obvious how this could be the case.

[2020-09-03 11:07] hrubyjan commented on #12
Check newly processed https://dqt.datlab.eu/overview/185

[2020-09-03 12:51] hrubyjan commented on #16
See the newly processed https://dqt.datlab.eu/overview/184

[2020-09-03 13:49] jpmckinney commented on #12
Great!

[2020-09-03 13:49] #12 closed, assigned to nobody

[2020-09-03 13:55] jpmckinney commented on #16
Perfect!

[2020-09-03 13:55] #16 closed, assigned to nobody

[2020-09-04 12:04] hrubyjan commented on #26
This has been implemented but I'm not sure how to verify it as it looks like the extensions that didn't work properly in dataset https://dqt.datlab.eu/overview/101 provides now good link in new version of the dataset https://dqt.datlab.eu/overview/184

[2020-09-04 12:25] hrubyjan commented on #28
Yes, there are even two test cases that both pass the check

[code]

[2020-09-04 13:56] jpmckinney commented on #26
Aha, I trust that it's implemented then.

[2020-09-04 13:56] #26 closed, assigned to hrubyjan

[2020-09-04 13:57] jpmckinney commented on #28
Thanks!

[2020-09-04 13:57] #28 closed, assigned to hrubyjan

[2020-09-23 08:27] hrubyjan commented on #37
We'll add such info message
![image](https://user-images.githubusercontent.com/17906453/93987058-611e2800-fd87-11ea-8aa6-562b8679fae2.png)

[2020-09-23 13:45] aguilerapy opened #55 "Generate reports: output folder"
I tried the new functionality by entering the id of the input report and the id of the output folder, but I don't have access to the generated report because it's not created in the folder that I enter.

I tried making public (edit) the folder and the document too, I don't know if there is something that I am missing in the permissions.

[2020-09-25 00:13] aguilerapy commented on #55
It's saved by default in [this](https://drive.google.com/drive/u/1/folders/1yLTCRV3yoBM5Goc93SaO4irxnd0iapnK) folder where I didn't have access (@romifz gave them to me now), but I still cannot save in the folder that I indicate with the folder id.

[2020-09-26 06:53] romifz opened #56 "Report generation: print an error message when tag is incorrect"
When using several tags in a report and the report generation fails because of an incorrect parameter in a tag, it may be difficult to find the tag that causes the failure.

I believe that, instead of failing, it would be useful to replace the failing tag with an error message so it would be easy to locate.

[2020-09-29 13:05] hrubyjan commented on #4
![image](https://user-images.githubusercontent.com/17906453/94562109-350e1580-0265-11eb-91fd-71837ea277b7.png)

[2020-09-29 13:24] hrubyjan commented on #5
there are now three action, preview, download, copy to clipboard
![image](https://user-images.githubusercontent.com/17906453/94564058-cc746800-0267-11eb-96a1-034e7621876c.png)

[2020-09-29 13:25] hrubyjan commented on #38
percantageof failures is only displayed when at least some failures exist
![Uploading image.png…]()

[2020-09-29 13:29] jpmckinney commented on #4
@hrubyjan Looks good!

[2020-09-29 13:30] hrubyjan commented on #42
We added info icon
![image](https://user-images.githubusercontent.com/17906453/94564488-5290ae80-0268-11eb-9e8d-1e10f9c085b8.png)

I would also maybe change the methodology of how the number is calculated. Right now it's a simply average of green numbers but this gives real low result when there there is almost no failure but high number of compiled releases where the calculation is Not available

[2020-09-29 13:31] jpmckinney commented on #38
Hmm, I remember sometimes getting confused when reading a table for a publisher with very few errors. It is clearer if each cell has a number. I thought we were just going to make values that were *exactly* zero be a very light grey.

[2020-09-29 13:31] jpmckinney commented on #5
👍

[2020-09-29 13:32] hrubyjan commented on #37
Done
![image](https://user-images.githubusercontent.com/17906453/94564966-e5c9e400-0268-11eb-99ba-f2f6ca09937f.png)

[2020-09-29 13:33] jpmckinney commented on #42
Hmm, yes, I think we should change the methodology. What do you suggest?

[2020-09-29 13:34] hrubyjan commented on #40
Any suggestions? Feel free to update it in the source code @jpmckinney. I think you have rights to created merge requests and even merge those :)

[2020-09-29 13:49] hrubyjan commented on #14
![image](https://user-images.githubusercontent.com/17906453/94567045-56720000-026b-11eb-9139-eb6861284029.png)

[2020-09-29 14:01] hrubyjan commented on #36
Tomas suggested two ways how this can be implemented
The first one is more user friendly (just one click) but is limited to two options
The second one allows more options

My suggestion would be to use the second option and implement this switch in all categories (field, compiled release, dataset). For the field level checks we need three options. All/Coverage failures/Quality failures
![image](ht

[2020-09-29 14:31] jpmckinney commented on #36
Second options sounds good to me. @duncandewhurst ?

[2020-09-29 15:23] jpmckinney opened #57 "URL doesn't change to /overview/### when clicking from homepage"

[2020-09-29 15:25] #24 closed, assigned to hrubyjan

[2020-09-29 15:25] #4 closed, assigned to nobody

[2020-09-29 15:28] #5 closed, assigned to nobody

[2020-09-29 15:28] #37 closed, assigned to jpmckinney

[2020-09-29 15:29] #14 closed, assigned to nobody

[2020-09-29 15:34] jpmckinney commented on #48
@odscrachel For the report generation feature #6, a bar chart is exported instead of a pie chart, because it can present more values and display the percentages for each.

As such, the pie chart only appears on the web, where a user can double-check the label of each slice of pie by hovering either over the slice or the entry in the legend. Also, the slices in clockwise order from noon are in the

[2020-09-29 15:34] #48 closed, assigned to nobody

[2020-09-29 17:41] duncandewhurst commented on #36
Likewise!

[2020-09-29 21:03] jpmckinney commented on #40
Instead of:

Make it:

@duncandewhurst @yolile What do you think of?

[2020-09-29 21:45] duncandewhurst commented on #40
I think people are more likely to understand % than percentile as the former is commonly used but the latter requires some (basic) knowledge of statistics.

How about:

Alternatively, I think this is easier to read but leaves the ranking by value somewhat implicit:

Another option could be to provide a more 'plain english' description which sacrifices some accuracy before the more accurate descrip

[2020-09-30 01:46] jpmckinney commented on #40
The 1st and 2nd options are fine with me. The UI is presently for analysts interested in precise methodology – not for unskilled users who just want a general description of the check.

[2020-09-30 07:13] hrubyjan commented on #36
On a collection level options will be
Show: All, Calculated only, Failed only, Passed only

On a Compiled release level options will be
Show: All, Failed only, Passed only

On a field level options will be
Show: All, Failed, Failed coverage, Failed quality, Passed only

On a time level options will be
Show: All, Failed only, Passed only

[2020-09-30 14:04] yolile commented on #40
Same!

[2020-09-30 14:21] jpmckinney commented on #40
@hrubyjan Let's go with:

[2020-09-30 15:56] jpmckinney commented on #36
Should we have "Calculated only" on Compiled release as well, to filter out those that are 100% N/A?

[2020-10-06 21:45] duncandewhurst opened #58 "Report creation failed"
Steps to reproduce:

1. Click the report icon next to the following collection:

![image](https://user-images.githubusercontent.com/19265814/95263144-d6125700-0889-11eb-8537-b87267f6e83c.png)

2. Set Document id to https://docs.google.com/document/d/1FNpehBhSHNiXQ4Vm45AIMLeRPdkSv45t2aeccw-86j8/

3. Set Folder id to: https://drive.google.com/drive/u/0/folders/1T9QmHqPMRGtD2bqZ090nA41qxVwPJO9B

The

[2020-10-06 21:52] jpmckinney commented on #58
What do you mean by 'failed'? Does the Pelican web app give any feedback (in which case include a screenshot)? Is the generated report incorrect (in which case include a link)? Or something else happens?

[2020-10-06 22:01] duncandewhurst commented on #58
![image](https://user-images.githubusercontent.com/19265814/95264740-618ce780-088c-11eb-8ef7-b53fb0265ce8.png)

[2020-10-06 22:11] duncandewhurst opened #59 "consistent.period_duration_in_days: Report which periods the check failed for"
[For example](https://dqt.datlab.eu/resource/195/detail/consistent.period_duration_in_days), from checking a few sample failiures it looks like the issue is with `tender.tenderPeriod`, but I would like to know if any of the other periods in the dataset are also affected so I can report that to the publisher.

[2020-10-07 13:40] yolile opened #60 "Feedback report: include ocids as bullets and not as tags"
from @romifz comment:
Right now the ocid list is a label that puts the ocid between commas, but maybe it will be better if the list of ocids are displayed as a list with bullets as well

[2020-10-09 08:36] hrubyjan commented on #42
@jpmckinney please review the text but otherwise the calculation was modified as we agreed. It's a percentage of passed check from total number of passed and failed checks.
![image](https://user-images.githubusercontent.com/17906453/95561498-1c4af000-0a1b-11eb-9f36-c62caf9091e9.png)

Maybe this sentence should be changed too as it's not an average anymore
![image](https://user-images.githubusercon

[2020-10-09 08:41] hrubyjan commented on #30
Quality and Coverage checks are distinguished by prefixes. One more box with sample of failures added. You can check it here https://dqt.datlab.eu/field/192/detail/parties.contactPoint.email
![image](https://user-images.githubusercontent.com/17906453/95562013-d6425c00-0a1b-11eb-984a-baff4671e667.png)

[2020-10-09 08:43] hrubyjan commented on #36
Switch in a top right corner was implemented for all views field/release/collection/time

![image](https://user-images.githubusercontent.com/17906453/95562344-536dd100-0a1c-11eb-9fac-32edbabfe321.png)

[2020-10-09 09:02] hrubyjan commented on #58
I think this is because the user Tools OCDS does not have a write access to the destination folder. But we are now working on an error reporting so Pelican should be soon able to replace the generic error message with a useful feedback

[2020-10-09 14:25] jpmckinney commented on #30
Looks great!

[2020-10-09 14:25] #30 closed, assigned to nobody

[2020-10-09 14:26] #36 closed, assigned to nobody

[2020-10-09 16:16] jpmckinney commented on #42
@yolile @pindec Are these new descriptions easy to interpret?

2 checks with aggregate score:

The pass rate of compiled releases against applicable checks.

[2020-10-12 16:44] pindec opened #61 "Export inconsistent with templates - specifying none always works, specifying others works inconsistently for different check types"
I'm having trouble getting some resource checks (reference and consistent) to render when I specify (some) templates. I've shared both the [input](https://docs.google.com/document/d/1kHRw6CBB303aEPko0NXCG6__a86n5u_r0tvHrAYd_6s/edit#) and [output documents](https://docs.google.com/document/d/104F0Up3VCgRa8cXhMUo_jTqeEGfwK-ifRsp3vGaU4J4/edit) with the Tools OCDS user.

### Unspecified template (work

[2020-10-13 10:02] pindec commented on #42
I think "aggregate" and "applicable" are a bit ambiguous. It took me a bit of time to figure out how the new score is calculated.

I agree that where there are, say, 7 checks, but only 2 are used to give the 'average' score, the current text is misleading.

Would it be clearer to:
* explicitly separate the numbers for **available** checks and "Not available" / n/a checks, and
* use 'adjusted' inst

[2020-10-13 11:27] yolile commented on #42
+1 to this, but maybe

[2020-10-13 15:53] jpmckinney commented on #42
N/A here stands for not applicable. The check is available, but it's not applicable.

Why is "adjusted" clearer than "aggregate"? "Aggregate" at least suggests a combination of each check's pass rate. "Adjusted" suggests an adjustment, which seems like less information.

How about: "2 out of 7 checks report a combined pass rate of %X"

And then: "N/A results are excluded from the combined pass rat

[2020-10-14 10:39] pindec commented on #42
That's what I assumed at first for N/A, but the details page shows "not available" given for that field.
![image](https://user-images.githubusercontent.com/1897475/95959530-7f150080-0dfa-11eb-9a75-59a1b44b2394.png)

So to clarify: the check is available (checks are always available), but some _data_ is not available, so the check is not applicable for all compiled releases (in this case 7%), is th

[2020-10-14 12:59] jpmckinney opened #62 "Fix "not available" to be "not applicable""
From this comment: https://github.com/open-contracting/pelican/issues/42#issuecomment-708318289

[2020-10-14 13:38] jpmckinney commented on #42
? So to clarify: the check is available (checks are always available), but some data is not available, so the check is not applicable for all compiled releases (in this case 7%), is that correct?

Yes. The label on the detail page is indeed confusing. Created a new issue: https://github.com/open-contracting/pelican/issues/62

Okay, getting there :) My edit:

[2020-10-14 13:45] pindec commented on #42
+1 :)

[2020-10-18 21:03] duncandewhurst commented on #58
Thanks @hrubyjan

Please could you add some guidance to the tutorial document on how to set the correct sharing permissions? I tried searching for the 'Tools OCDS' user in the Google Drive sharing interface, but couldn't find anything.

[2020-10-20 02:37] duncandewhurst commented on #58
I tried filing the templates I'm using in a subfolder of the 'Tutorial' folder and using that as the destination folder, but now I'm getting a syntax error

![image](https://user-images.githubusercontent.com/19265814/96530091-2e624380-12e3-11eb-8e2b-3112fa409e33.png)

I copied and pasted the [example](https://docs.google.com/document/d/1upnnuq4dzC37CwMJa34OHgGWizKbNTs5vCgjeHPVuys/edit#heading=h.ta

[2020-10-20 12:27] hrubyjan commented on #58
@duncandewhurst I've just deployed a new version of Pelican and you templates works fine for me. We've fixed several issues which were caused by a conversion from a google doc to odt format and back. It has some limitations because the conversion inserts some additional content (for example when the tag is on two lines or has two different styles) but hopefully this will eventually work fine :).

[2020-10-20 12:32] hrubyjan commented on #56
Pelican now reports the problems (hopefully it is detailed enough and understandable) directly in the application and provides links to the template which contains errors.

Replacement in the document can be a problem when the final document has tens of pages. In such case the change that you would miss some problem is quite high. Is't better to not produce final document and fix the template firs

[2020-10-20 12:34] hrubyjan commented on #55
This should be working now. I've been testing it even in my private google drive and it's enough if the template has a view rights. Of course the folder needs to have a write access to create a new document.

Thanks for the feedback and please, keep me posted if something is not working.

[2020-10-20 12:37] hrubyjan commented on #61
@pindec we've just deployed a new version of Pelican. I hope this will resolve your issue or that Pelican will give you sufficient feedback of what's wrong with the template.

We've fixed several issues which were caused by a conversion from a google doc to odt format and back. It has some limitations because the conversion inserts some additional content (for example when the tag is on two lines

[2020-10-20 14:35] #57 closed, assigned to nobody

[2020-10-20 14:40] jpmckinney commented on #6
Closing since the feature is implemented, and follow-up issues are created for changes.

[2020-10-20 14:40] #6 closed, assigned to nobody

[2020-10-20 14:41] jpmckinney commented on #61
@pindec Can you test again? If the issue is resolved, please close the issue.

[2020-10-20 14:41] jpmckinney commented on #55
@aguilerapy Can you test again? If the issue is resolved, please close the issue.

[2020-10-20 14:42] jpmckinney commented on #58
@duncandewhurst Can you test again? If the issue is resolved, please close the issue.

[2020-10-20 16:19] aguilerapy commented on #55
It works! Thanks!

[2020-10-20 16:19] #55 closed, assigned to hrubyjan

[2020-10-20 20:43] duncandewhurst commented on #58
Success! Thanks, both.

[2020-10-20 20:43] #58 closed, assigned to hrubyjan

[2020-10-20 21:00] duncandewhurst opened #63 "Add descriptions to checks"
From the [Tutorial Resource Template](https://docs.google.com/document/d/1nmSgUqYiISThHm5Ibs_gCbsM6HeMzEUfmuMAQJE0vCU/edit):

Perhaps to begin with the {% description %} tag could just be replaced by the check description from the Pelican interface?

For example, for `consistent.period_duration_in_days`:

We can then author more 'publisher friendly' descriptions as needed. I started a [spreadsheet

[2020-10-21 07:45] pindec commented on #61
All forms of template tag (none, original, custom) now work as expected for all checks.

Same [input](https://docs.google.com/document/d/1kHRw6CBB303aEPko0NXCG6__a86n5u_r0tvHrAYd_6s/edit#) originally gave a new  "Template syntax is invalid" error for a consistent check tag, which I resolved by reapplying styling to "normal text".

Thanks.

[2020-10-21 07:45] #61 closed, assigned to hrubyjan

[2020-10-21 08:24] hrubyjan commented on #63
@duncandewhurst this is in progress, we will create a separate file for these "publisher friendly" descriptions which will be bilingual (En + ES) so that you can also report in Spanish. Unfortunately, there will be only simple text description available without any formatting enabled. This would be much more complicated task right now.

[2020-10-22 13:37] sabahfromlondon commented on #56
I've seen two things worth reporting here:

1. If there are multiple errors in the template, the error message will only feedback on the first error it sees. For instance the attached screenshot, I made sure there were two errors in the template I used

2. The error message is specific about the error only to a certain extent. I removed a space and the error message came back with "All characters

[2020-10-22 14:23] sabahfromlondon opened #64 "Remove any spaces at start or end of copied URL/ID"
If a user is copying in a link for the template ID or the folder ID from a document, I've seen that they sometimes accidentally include a space at the end which throws an error.

Additionally the error message if the folder ID has a space is (also attached):
Reason: Google Drive Error: The final report could not be uploaded to folder with id '1cxS2x8JufLopQtQIHF_U8_YIc3AC6pC_ '. Possible reasons a

[2020-10-22 14:37] sabahfromlondon opened #65 "Add close and try again options to error message popup"
The error message should include actions for the user to take. The purpose fr the reload icon and button are unclear here, as it just runs the same inputs again, which will only take the user back to the same error message.

I suggest we include two clearly labelled buttons on the bottom right of the error message popup:
1. Try again - this takes the user back to the Dataset report popup for the s

[2020-10-22 14:51] sabahfromlondon commented on #43
These indicators would be ideal for creating an index of some sort. It has been known to change the behaviour of organisations, in this case that would be the data owners. Perhaps we could calculate an overall score for each publishing organisation?

[2020-10-22 15:09] sabahfromlondon commented on #60
I agree this can be visually confusing and places a cognitive load on the reader. We should have on OCID per line at the very least. Additionally the purple colour makes it look like the OCIDs are hyperlinks which they are not.

[2020-10-22 15:12] sabahfromlondon commented on #50
@jpmckinney do you mean a summary of major errors in creating the report or a new tag for group of fields that a report creator can use just once?

[2020-10-22 15:34] sabahfromlondon opened #66 "Multiple checks in one tag"
We can group checks together e.g. for coverage, coherence etc and enable the report creator to specify one tag for all the checks in that category. Additional options are one tag for: all failures, fields where no data is published, all tables etc.

This should help to reduce errors made by the person creating the report.

[2020-10-22 16:21] jpmckinney commented on #50
This issue is about adding a high-level summary to the overview page in the web frontend.

[2020-10-22 16:23] jpmckinney commented on #60
@sabahfromlondon Are the OCIDs purple because the tag was purple, or are they inserted as purple? (My understanding was that the inserted content inherited styles from the tag.)

[2020-10-23 16:53] jpmckinney commented on #63
@hrubyjan If the descriptions are in a Google Docs file, would it be easier to use rich text? The descriptions could perhaps be under a heading or in a table, to make it easier for a script to cut them out.

[2020-10-26 09:42] sabahfromlondon commented on #60
@jpmckinney I've added a screenshot.

The tags for these as far as I can see are: {% passedExamples %} and {% failedExamples max:|5| %}

I think it's helpful to make the examples visually distinct. I had a conversation with @pindec who thought they could be mistaken for hyperlinks and I have to agree. I think the purple colour is too close to blue.

![Screen Shot 2020-10-26 at 09 30 34](https://us

[2020-10-26 09:51] sabahfromlondon opened #67 "Cannot see how may releases for each OCID there are"
Pelican only works for compiled releases, so it is not possible to see how may releases for each OCID there are which is a limitation when it comes to reporting.

[2020-10-26 09:54] sabahfromlondon opened #68 "Select template from a dropdown instead of providing a URL/ID"
Once the templates become established, the user experience would be better if users could select a template by name from a dropdown list rather than providing a URL/ID.

his should also lead to fewer errors when creating a report.

[2020-10-26 13:08] jpmckinney commented on #60
But what did the input template look like?

[2020-10-26 13:35] hrubyjan commented on #60
I guess this is only a colour of the tag in the template. If you'll make the colour black the output will be also black

[2020-10-26 13:51] jpmckinney commented on #67
This is by design – there were not that many use cases for analyzing individual releases compared to compiled releases. We have some other documented use cases for individual releases, but I'm not sure it's worthwhile to put them as issues.

[2020-10-26 15:24] sabahfromlondon commented on #67
Ok that's good to know. Will remove this issue and document in the product doc.

[2020-10-26 15:24] #67 closed, assigned to nobody

[2020-11-06 20:41] jpmckinney commented on #63
@hrubyjan In the .po file, is only plain-text allowed? Why can't we put HTML? Can't the application just mark the HTML as "safe"? I assume we will have to be sure that the HTML is valid.

[2020-11-06 22:59] jpmckinney commented on #63
I created a PR for integrating Transifex: https://gitlab.com/datlab/ocp/dqv/-/merge_requests/8

[2021-03-04 14:28] sabahfromlondon opened #69 "Hyperlinks need to be visible to users"
It is not currently obvious that the hyperlinks on the Pelican home page are clickable links. Each report name needs to be underlined and ideally the text should be blue to indicate a clickable link. The same colour is is used on the Overview page, plus the highlighting upon hover would resolve the issue.

The Overview page hyperlinks do use a blue colour, but should also be underlined.

[2021-03-04 14:36] sabahfromlondon opened #70 "Clearer connection between charts and samples"
When there is more than one chart and sample of successes / failures it is difficult to distinguish which sample is for which chart.

The issues arises for field level and compiled release level checks.

Some examples:

- https://dqt.datlab.eu/field/218/detail/planning
- https://dqt.datlab.eu/resource/218/detail/reference.procuring_entity_in_parties

One option would be to have clearer headings fo

[2021-03-04 20:48] jpmckinney commented on #22
After attempting to reach about 25 potential users, only two responded for user research, and in both cases Pelican's capabilities exceed the quality issues they have the capacity to deal with. Until there is more demand, this issue is closed.

[2021-03-04 20:48] #22 closed, assigned to nobody

[2021-03-04 20:49] jpmckinney commented on #19
For the reason in #22, this is closed until we have more demand.

[2021-03-04 20:49] #19 closed, assigned to nobody

[2021-03-04 20:57] jpmckinney commented on #70
This has tripped me up frequently. In #30 we used text to associate the charts to the samples, but I had also suggested:

[2021-03-09 21:15] duncandewhurst opened #71 "Collection: Repetition checks - strange results"
I would expect all the percentages to be less than 100% ([example](https://dqt.datlab.eu/dataset/153)):

![image](https://user-images.githubusercontent.com/19265814/110538872-6af6e480-8189-11eb-8c9b-515d2cbb3963.png)

[2021-03-10 13:44] hrubyjan commented on #71
The problem is there because this dataset is old one. Here is the same dataset freshly recalculated https://dqt.datlab.eu/dataset/219

The problem was that some checks used to store the value as a decimal number 0.5993 and other checks stored is as a percentage 59.93 and I didn't want to handle this on the front end. I rather harmonized the way results are stored but it means that for some old dat

[2021-03-10 13:44] jpmckinney commented on #71
From @hrubyjan:

Here is the same dataset freshly recalculated https://dqt.datlab.eu/dataset/219

The problem was that some checks used to store the value as a decimal number 0.5993 and other checks stored is as a percentage 59.93 and I didn't want to handle this on the front end. I rather harmonized the way results are stored but it means that for some old dataset it now displays such nonsenses.

[2021-03-10 13:44] #71 closed, assigned to jpmckinney

[2021-03-29 23:13] duncandewhurst opened #72 "Package metadata"
How is the collection metadata section of the overview screen populated? Does Pelican simply use the values from the first package or does it perform some aggregation?

For example, `uk_contracts_finder` erroneously uses different values `publisher/name`, but I can only see one value in https://dqt.datlab.eu/overview/221.

[2021-03-29 23:47] jpmckinney commented on #72
It takes the first value.

[2021-03-30 00:12] duncandewhurst commented on #72
It would be helpful to include that information in a tooltip in the Pelican interface. In any case, I'll continue to include checks on package metadata in the data feedback template.

[2021-04-08 23:32] duncandewhurst opened #73 "Quality: “Date is realistic” - check for default dates"
Publishers commonly set missing dates to a default of 1970-01-01T00:00:00Z.

Currently, the check only reports dates before 1970 as errors:

Can we report dates set to 1970-01-01 as an error too?

[2021-04-09 00:42] jpmckinney commented on #73
We can probably be more aggressive and set it to 1990, as I am not sure if any country had e-GP back then, and even if they did, I don't think they migrated those records to the newer systems they are using now.

[2021-04-12 02:58] duncandewhurst commented on #60
I tried adding a bullet point style to the `failedExamples` tag in the template and got the following error:

![image](https://user-images.githubusercontent.com/19265814/114334754-5bf7bd80-9b9f-11eb-845d-a7158f340510.png)

The same template works OK with the 'Normal text' style applied to the `failedExamples` tag.

[2021-04-12 02:59] duncandewhurst commented on #63
Should I go ahead and review the English translations in Transifex or should I wait until the export includes the HTML tags?

It would be really nice to at least have the field names in code formatting to make the output easier to read.

[2021-04-12 03:06] duncandewhurst opened #74 "Provide a breakdown of failure reasons in the interface"
For example, in https://dqt.datlab.eu/resource/239/detail/reference.buyer_in_parties I can see that the first few examples in the sample of failures have `meta/failed/reason` set to "id missing" but I don't know if there are any other reasons for the failures.

So that I can tell the publish how to fix the issue, I need to know the reasons for checks failing.

The interface could include a breakdo

[2021-04-12 13:44] jpmckinney commented on #63
@duncandewhurst Right now it's plain text. We'll be doing some work on Pelican starting in June. Not sure if there is a quick fix that we can do earlier - @hrubyjan ?

[2021-04-12 13:45] jpmckinney commented on #74
Related: #35

[2021-04-13 13:52] hrubyjan commented on #63
The complicated thing is how to display html in the gDoc. Because of technical reasons we convert gDoc to odt (which is XML) then we merge templates and then we convert it back to gDoc. We can't just take HTML and display it in the gDoc.

This requires an analysis of how this can be achieved. One way is to store these translations in gDoc and take it from there which reduces the task back to merge

[2021-04-13 13:53] hrubyjan commented on #63
Another thing is that the language selection is not available in Pelican right now even we have two translation files. This can be a quick fix.

[2021-04-14 00:06] duncandewhurst commented on #74
Similarly, it would be good to have a summary of the `failed_paths` metadata in the coherent.dates check.

[2021-04-21 13:25] aguilerapy commented on #32
To follow up next time: I found two cases where the OCID prefix is registered but the quality issue is present, [INAIP Yucatán](https://dqt.datlab.eu/field/241/detail/ocid) and [Indonesia Opentender](https://dqt.datlab.eu/field/239/detail/ocid).

[2021-05-03 00:34] duncandewhurst opened #75 "Adding collections directly"
I would like to be able to add collections to Pelican directly without needing to send an email, so that we can turn around data reviews more quickly.

[2021-05-06 02:45] jpmckinney opened #76 "Meta: Decide whether to transfer issues to pelican-backend and pelican-frontend"
Once those repositories are made public.

We might prefer to do this after prioritizing the issues in this repo, and/or after the work this summer.

[2021-05-20 00:18] duncandewhurst commented on #31
This issue is also present in the UK FTS data, e.g.

`identifier/id` | names
-- | --
na | NHS England,NHS England & NHS Improvement ,NHS Kent & Medway CCG,NHS Derby and Derbyshire Clinical Commissioning Group,NHS Coventry & Rugby CCG,NHS England - Specialised Commissioning,Midlands Partnership Foundation Trust,NHS Coventry & Rugby Clinical Commissioning Group,NHS Kent and Medway Clinical Commissio

[2021-05-25 08:50] mrshll1001 commented on #69
Agree that hyperlinks should be made visible; non-obvious hyperlinks are definitely contradictory to basically usability.

I don't mind the colour; but all hyperlinks should be underlined unless presented in something that is otherwise clearly a navigational menu. Also important is the distinction between hyperlinks, which take a user to another page, vs buttons which have an effect on the current

[2021-05-31 21:16] duncandewhurst opened #77 "Document how to export dataset checks"
The [export template](https://docs.google.com/document/d/1L95LtX2O_3qfIHhNHRe-dmi4OJon_MiqMuZNXJj4CHk) only describes how to export field and resource checks.

Can we add some documentation on how to export dataset checks?

I discovered that there is a 'dataset' command. For example:

[code]

But I'm unsure of what tags I can use in the template for dataset checks.

[2021-05-31 23:04] duncandewhurst opened #78 "Export: The tag 'resultBoxImage' cannot be used in this context."
**What were you trying to do?**

Generate a report with the following parameters:

Collection: uk_fts_2021-02-22 (Id 236)
Document id: 1FNpehBhSHNiXQ4Vm45AIMLeRPdkSv45t2aeccw-86j8
Folder id: 1OBPzTeoAOMqDtcxvQVribU2QTzAwP0e4
Report name: test output

**What error did you receive?**

![image](https://user-images.githubusercontent.com/19265814/120247563-08187380-c2c8-11eb-95dd-4ba3a9acc6ce.png)

lin

[2021-05-31 23:07] duncandewhurst opened #79 "Export: Don't fail if a check was not computed."
The error message in https://github.com/open-contracting/pelican/issues/78 suggests that the export may fail if one of the checks referenced in it was not computed.

We need to prepare a report template that can be used for any dataset, so the export should not fail if a check was not computed. Otherwise, we would need to review the Pelican front-end and edit the report template before exporting a

[2021-07-08 08:22] hrubyjan commented on #32
For test purposes: All currently registered OCIID prefixes

https://docs.google.com/spreadsheets/d/1Am3gq0B77xN034-8hDjhb45wOuq-8qW6kGOdp40rN4M/pubhtml?gid=506986894&single=true&widget=true

[2021-07-09 07:54] hrubyjan commented on #46
@duncandewhurst @jpmckinney
Is this still relevant or how this should work?

I mean this make sense to me basically only for field level quality checks.

Filed level - is set? - nothing can be displayed when it's not set as the key is missing. When it's set then it's some random value
Field level - is null or empty? - either null or empty string. Or again some random value
Field level - quality? -

[2021-07-09 10:00] hrubyjan commented on #53
@duncandewhurst @jpmckinney I think we have this problem only for two checks which aggregates the data for more objects of the same type. For `Parties are referenced` and `Period's duration is consistent with start and end dates` (see #59).

I think the easiest and most logical way how to deal with this problem is to decompose the two checks into 5 (6 respectively for #59) separate checks.

Then y

[2021-07-09 19:41] jpmckinney commented on #53
That sounds good to me, and is consistent with the approach taken for other types of checks.

[2021-07-09 19:44] jpmckinney commented on #46
I think the idea was to display something for field-level quality failures. If the description is too long, we can truncate it in the table - so in that case, the user might still need to open the example.

The issue description also mentions examples for quality successes, but I am not sure in what scenario we want to look at good values.

[2021-07-11 21:20] duncandewhurst commented on #46
Yes, that's correct.

In general, it might help to put the failures in context and give some insight into whether the cause is a mapping error or a quality issue in the data source. However, looking at the [list of field-level quality checks](https://docs.google.com/document/d/1l5SL1hUR9n8IDYVLSYsU85hdB3L_u2e3iD-txQPc0zU/edit), I'm not sure it's relevant to the checks we have right now.

[2021-07-11 21:22] duncandewhurst commented on #53
Sounds good to me!

[2021-07-22 11:01] hrubyjan commented on #32
Tested again all works fine according to me. Couldn't it be that the registered prefix was not published in the gdoc immediately after the prefix was registered? Because when I now process dataset https://dqt.datlab.eu/field/295/detail/ocid it work fine.

[2021-07-22 16:12] jpmckinney commented on #32
Sometimes GDocs has a long lag before it re-publishes a sheet, so I think that is likely the issue.

[2021-08-12 03:30] duncandewhurst opened #80 "'Identifier scheme is recognized' check fails on valid scheme"
https://dqt.datlab.eu/field/305/detail/parties.identifier.scheme reports failures when `parties.identifier.scheme` is set to [NG-TIN](http://org-id.guide/list/NG-TIN)

[2021-08-12 03:35] duncandewhurst opened #81 "Field-Level Checks - Use red to indicate failing checks"
On the [compiled release screen](https://dqt.datlab.eu/resource/305), red is used to indicate failing checks, e.g.

![image](https://user-images.githubusercontent.com/19265814/129134357-5f4167d3-0bd3-4ad4-8466-87d38f995b99.png)

But on the [field-level checks screen](https://dqt.datlab.eu/field/305), grey is used:

![image](https://user-images.githubusercontent.com/19265814/129134386-cfcc85ac-904b

[2021-08-12 03:38] duncandewhurst commented on #32
I just came upon this issue again here: https://dqt.datlab.eu/field/305/detail/ocid

The prefix was registered on 23rd June and the dataset on 6th August. Are the delays from GDocs that long?

[2021-09-01 22:19] jpmckinney commented on #42
Forgot to reassign @hrubyjan, since the new text is now agreed as above.

[2021-09-03 13:31] aguilerapy opened #82 "Field paths that fail the check of "Contracting process timeline""
If we have many errors, it's not possible to know exactly which fields cause this failure. For example, in https://dqt.datlab.eu/resource/201/detail/coherent.dates we have 6,147 failed compiled releases, making it difficult to add the field paths in the Data Quality Feedback Report:

And for example, if we have 10 errors, we have to open each release one by one and verify in which field the proble

[2021-09-06 20:18] aguilerapy opened #83 "Export report issue"
I'm trying to generate a report from https://dqt.datlab.eu/overview/311, but I have this problem:

![imagen](https://user-images.githubusercontent.com/48607824/132257919-d9f964bb-bdc9-461a-851f-961c668df7a8.png)

I gave the permissions to data-tools@open-contracting.org for the [report](https://docs.google.com/document/d/1yDmfdTyMxk_-JPEonV1alIxjPTBim0LSpYTwtD6roVE/edit?usp=sharing), the [folder](

[2021-09-14 15:09] jpmckinney commented on #49
People seem satisfied with the current visualizations, so closing.

[2021-09-14 15:09] #49 closed, assigned to nobody

[2021-09-14 15:18] jpmckinney commented on #3
So far, none of these have come up as needs.

[2021-09-14 15:18] #3 closed, assigned to nobody

[2021-09-14 15:22] jpmckinney commented on #11
From #20

[2021-09-14 15:24] jpmckinney commented on #20
Added proposals to #50 and #11. Nothing remains, so closing.

[2021-09-14 15:24] #20 closed, assigned to nobody

[2021-09-14 15:31] #53 closed, assigned to nobody

[2021-09-14 15:58] jpmckinney commented on #76
Done

[2021-09-14 15:58] #76 closed, assigned to hrubyjan

[2021-09-14 16:01] jpmckinney commented on #41
This has not come up again as a need. We already have an idea of common issues through helpdesk support to publishers.

In general, anytime there's a quality issue, we should consider whether/how to improve schema descriptions, documentation, guidance, and the boilerplate text explaining how to address failing checks.

https://github.com/open-contracting/pelican-frontend/issues/53 will also help i

[2021-09-14 16:01] #41 closed, assigned to nobody